@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("../../assets/fonts/HelveticaNeue.ttc") format("truetype");
  font-weight: normal;
}

.L-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 79px;
}

.L-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.L-landingLogo {
  margin-top: 85px;
}

.L-button-container {
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.L-addEntriesButton {
  padding: 18px 82px;
  background-color: #62a1eb;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  font-family: "HelveticaNeue";
  cursor: pointer;
  color: #ffffff;
}

.L-addEntriesButton:hover {
  background-color: #317ad0;
  transition: 0.2s;
}
