.formContainer {
  background-color: #f6f6f6;
  padding: 96px 174px 44px 174px;
  border-radius: 18px;
  margin: 27px 0px 67px 0px;
}

form {
  margin: 0 auto;
  justify-content: center;
  display: grid;
}

label {
  font-size: 18px;
}

.nameAndSurnameContainer {
  display: flex;
  column-gap: 63px;
}

.nameContainer,
.surnameContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.nameInput,
.surnameInput {
  font-size: 16px;
  width: 408px;
  height: 60px;
  text-indent: 16px;
  border-radius: 8px;
  outline: none;
  border: 1.8px solid #8ac0e2;
}

.positionSelect {
  background-color: #ebebeb;
  margin-top: 51px;
  width: 100%;
  display: block;
  border: none;
  height: 60px;
  text-indent: 16px;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
}

option {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background-color: white;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 15px;
  background-image: url("../assets/icons/dropdownIcon.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 25px) center;
}

.mailContainer {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.mailInput {
  height: 60px;
  font-size: 16px;
  text-indent: 16px;
  border-radius: 8px;
  outline: none;
  border: 1.8px solid #8ac0e2;
}

.inputMessage {
  font-size: 14px;
  color: #2e2e2e;
  cursor: default;
}

.inputMessageError{
  font-size: 14px;
  color: #E52F2F;
  cursor: default;
  font-weight: 300;
}

.mobileContainer {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 95px;
}

.nextButton {
  background-color: #62a1eb;
  padding: 18px 46px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
}

.nextButton:hover {
  background-color: #317ad0;
  transition: 0.2s;
}
