.goBack-container {
  margin: 53px 0px 0px 70px;
}

.E-employeeInformation {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #232323;
  cursor: pointer;
  height: 40px;
  position: relative;
  z-index: 1;
}

.E-employeeInformation::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0px;
  width: 175px; /* or 100px */
  border-bottom: 2px solid rgb(0, 0, 0);
}

.E-laptopInformation {
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  color: #232323;
  cursor: pointer;
}

.links-container {
  display: flex;
  column-gap: 66px;
  justify-content: center;
}

.E-formContainer {
  margin: 0 auto;
  justify-content: center;
  display: grid;
}

.E-redberryLogoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

@media (max-width: 390px) {
  .goBack-container {
    margin: 0px;
    padding: 31px 18px;
    background-color: #f6f6f6;
  }

  .E-laptopInformation {
    display: none;
  }
  .E-employeeInformation {
    position: static;
  }
  .formContainer {
    background-color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 49px;
  }
  .E-formContainer {
    display: flex;
    justify-content: flex-start;
  }
  .nameInput, .surnameInput {
    width: 358px;
  }
  .E-redberryLogoContainer{
    display: none;
  }
}
