.goBack-container {
  margin: 53px 0px 0px 70px;
}

.L-laptopInformation {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #232323;
  cursor: pointer;
  height: 40px;
  position: relative;
  z-index: 1;
}

.L-laptopInformation::before {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0px;
  width: 250px; /* or 100px */
  border-bottom: 2px solid rgb(0, 0, 0);
}

.L-employeeInformation {
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  color: #232323;
  cursor: pointer;
}


.links-container {
  display: flex;
  column-gap: 66px;
  justify-content: center;
}
