@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("./assets/fonts/HelveticaNeue.ttc") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue";
  /* box-sizing: border-box; */
}